<div id="header" class="container-fluid">
   <div class="logo-container row">
      <div id="siteLogo" class="px-2 pl-md-3 col">
         <a href="/fi" class="">
         <img src="${metadata.get('site', 'logo')}" alt="${metadata.get('site', 'title')}"/></a>
      </div>
   </div>
</div>
<div id="content" class="py-3 px-0 py-md-3 px-md-3 p-md-0 container-fluid">
  <div class="container">
    <h1>${l10n.get(title)}</h1>
    <div class="row">
      <div class="content rounded-md p-2 p-lg-3 col">
        <p class="mb-0">${l10n.get(content)}</p>
      </div>
    </div>
   </div>
</div>
